body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #ffe6ff;
}

/* HEADER */
header {
background-color: #c77dff;
color: white;
text-align: center;
padding: 20px;
}

/* MENU */
nav {
background-color: #e0aaff;
text-align: center;
padding: 10px;
}

nav a {
text-decoration: none;
color: white;
margin: 15px;
font-weight: bold;
}

nav a:hover {
color: yellow;
}

/* SECTION */
.section {
padding: 20px;
text-align: center;
}

/* GRID NHÂN VẬT */
.grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.card {
background-color: white;
border: 2px solid #c77dff;
border-radius: 10px;
width: 250px;
padding: 15px;
}

.card img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 10px;
}

.card:hover {
background-color: #f3c4fb;
}

/* FORM */
form {
background-color: white;
width: 300px;
margin: auto;
padding: 15px;
border-radius: 10px;
border: 2px solid #c77dff;
}

input, textarea {
width: 90%;
padding: 5px;
}

input[type="submit"] {
background-color: #c77dff;
color: white;
border: none;
padding: 8px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #9d4edd;
}

/* FOOTER */
footer {
background-color: #c77dff;
color: white;
text-align: center;
padding: 10px;
}
